* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 60vw;
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

h1 {
    margin-top: 10rem;
    font-size: 40px;
}

#question {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin: 0;
}

#correct {
    margin: 0;
}

.btn {
    /* box model */
    margin: 10px 10px 10px 0px;
    padding: .5em;
    border-radius: 5px;
    /* typography */
    background-color: #1E33E0;
    text-align: left;
    color: white;
    font-size: 20px;
    /* Change mouse to pointer finger on hover */
    cursor: pointer;
}

/* Change the button color when clicked or selected */
.btn:focus {
    background-color: #4E63FF;
}

/* Make certain buttons block instead of inline */
.block {
    display: block;
}

input {
    /* box model */
    margin-right: 20px;
    padding: .5em;
    border-radius: 5px;
    /* typography */
    background-color: lightgray;
    font-size: 20px;
}


/* Mobile response */
@media screen and (max-width: 576px) {
    #question {
        font-size: 6vw;
    }
    h1 {
        font-size: 10vw;
    }
    .container {
        width: 90vw;
    }
    .btn {
        font-size: 5vw;
        margin: .25em 0;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 40vw;
    }
}

/* Space buttons out on touch screens for fat fingers */
@media (pointer: coarse) {
    .btn {
        margin: 1em 0;
    }
}